<nav class="bottom-menu navigation">
    <ul class="menu">
        <li class="menu__item">
            <a class="menu__link" href="/about">About us</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="/contact">Contact</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="/list-your-business">List your service</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" target="_blank" href="https://www.inventshift.com">Sustainable business</a>
        </li>
    </ul>
</div>
