<footer class="footer container-fluid">
    <div class="region region-footer">
        <section id="block-block-1" class="block block-block clearfix">
            <div class="footer-width">
                <div class="row">
                    <div class="col-sm-2">
                        <ul><li class="footer-logo"><img class="ft-logo" src="/sites/all/themes/servicehired/images/inventshift-icon.png" alt="ServiceHired logo">ServiceHired</li>
                            <li class="small">ServiceHired makes booking services online simple. Find, compare and book. Simple as that.</li>
                        </ul></div>
                    <div class="col-sm-2 col-sm-offset-1">
                        <ul><li> Finding a service</li>
                            <li><a href="/">Browse services</a></li>
                            <li><a href="/how-it-works">How it works</a></li>
                        </ul></div>
                    <div class="col-sm-2">
                        <ul><li> Finding customers</li>
                            <li><a href="/list-your-business">List your service</a></li>
                            <li><a href="/find-customers/how-service-hired-works">How it works</a></li>
                            <li><a href="/business-tools">Tools for business</a></li>
                        </ul></div>
                    <div class="col-sm-2">
                        <ul><li> Company</li>
                            <li></li>
                            <li><a href="/about">About</a></li>
                            <li><a target="_blank" href="https://www.inventshift.com">Sustainable business</a></li>
                            <li><a href="/press">Press</a></li>
                        </ul></div>
                    <div class="col-sm-1">
                        <ul><li> Support</li>
                            <li></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/help-center">Help center</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-8">
                        <ul>
                            <li><a href="/terms">Terms</a></li>
                            <li><a href="/terms">Privacy policy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <p class="trademark">Copyright © 2017 ServiceHired<br><span class="rights">All rights reserved</span></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>
