<nav class="navigation">
  <ul class="menu">
    <li class="leftmenu menu__item menu__item--list-business list-business">
      <!--<a href="https://www.inventshift.com/blog">Blog</a>-->
      <a class="menu__link listyourbusiness list-business__link" href="/list-your-business">List your business</a>
    </li>
    <li class="menu__item menu__item--branding branding">
      <a class="menu__link branding__link" href="/">
        <img class="branding__image logo" src="/sites/all/themes/servicehired/images/inventshift-icon.png">
      </a>
    </li>
    <li class="rightmenu menu__item menu__item--signin signin">
      <a class="menu__link signin__link" href="/user">Sign In</a>
    </li>
  </ul>
</nav>
