.menu {
  list-style: none;
  text-align: center;
}

.menu__item--branding {
  text-align: center;
}

.navigation--bottom {
  .menu {
    margin: 1rem 0;
  }

  .menu__item {
    display: inline;
    padding: 0 1.875rem;
  }
}
