{% extends "layout.html" %}
{% block title %}Countries - ServiceHired{% endblock %}
{% block description %}Find, compare and book local services with ServiceHired. Simple as that. ServiceHired makes
booking services online simple.{% endblock %}
{% block keywords %}ServiceHired{% endblock %}
{% block head%}
<!-- build:css /dist/css/final-styles.css -->
<link rel="stylesheet" type-="text/css" href="../../dist/css/styles-lib.css">
<link rel="stylesheet" type-="text/css" href="../../dist/css/styles.css">
<!-- endbuild -->
{% endblock %}
{% block breadcrumb %}
<div id="breadcrumb" class="page-breadcrumb">
     <div class="container container--breadcrumb">
        <ul class="menu breadcrumb">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">Home</a></li>
        </ul>
    </div>
</div>
{% endblock %}
{% block overthefold %}
<div class="tiles">
  <div class="tile-wrapper">
    <ul class="tile-wrapper__group tile-group tile-group--country">
      {% for country, name in countries %}
      <li class="tile tile--country">
        <h2 class="tile__title tile__title--country">
          <a class="tile__link tile__link--country" href="{{ path_for('country', { 'country': country }) }}">{{ name }}</a>
        </h2>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
