//
// @file
//
// This file includes everything related to the basic typography
//

// ########## General ########## //
.wf-active body {
  font-family: $rubik;
}

a {
  color: $link-color;
  transition: all 150ms linear;

  &:hover,
  &:focus {
    color: $link-color-hover;
  }
}

strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

// ########## Headings ########## //
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: $heading-font-family;
  line-height: 1.3;

  a {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
  }
}

h1 {
  margin-bottom: 30px;
  font-size: $font-size-heading-1;
}

h2 {
  margin-bottom: 20px;
  font-size: $font-size-heading-2;
}

h3 {
  margin-bottom: 15px;
  font-size: $font-size-heading-3;
}

h4 {
  margin-bottom: 10px;
  font-size: $font-size-heading-4;
}

h5 {
  margin-bottom: 5px;
  font-size: $base-font-size-rem;
}

h6 {
  font-size: 90%;
}

p {
  margin-top: 0;
}

p,
ul,
ol {
  + h2 {
    margin-top: 30px;
  }

  + h3 {
    margin-top: 25px;
  }

  + h4 {
    margin-top: 20px;
  }
}

ul,
ol {
  ul,
  ol {
    margin-top: 10px;
  }

  + p {
    margin-top: 15px;
  }
}

ul {
  padding-left: 20px;
}

ol {
  padding-left: 21px;
}
