{% extends "layout.html" %}

{% block title %}{{ country_name }} - ServiceHired{% endblock %}

{% block description %}Find, compare and book local services from {{ country_name }} with ServiceHired.
Simple as that. ServiceHired makes booking services online simple.{% endblock %}

{% block keywords %}ServiceHired,{{ country_name }}{% endblock %}

{% block body %}

{{ country_name }}

<ul>
    {% for city, name in cities %}
    <li><a href="{{ path_for('city', { 'country': country, 'city': city }) }}">{{ name }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
