<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google-site-verification" content="bEFC0Jbc6hIVdp6QtiZOAdiExxTG_f_4IN5L8K06wFo" />

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">

    <meta name="robots" content="index,follow">

    <link rel="canonical" href="{{ uri }}" />

    <link rel="icon" href="/sites/all/themes/servicehired/icons2/ldpi.png" sizes="32x32" />
    <link rel="icon" href="/sites/all/themes/servicehired/icons2/xhdpi.png" sizes="96x96" />
    <link rel="icon" href="/sites/all/themes/servicehired/icons2/xxxhdpi.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="/sites/all/themes/servicehired/icons2/Icon-72.png" sizes="72x72" />
    <link rel="apple-touch-icon" href="/sites/all/themes/servicehired/icons2/Icon-76.png" sizes="76x76" />
    <link rel="apple-touch-icon" href="/sites/all/themes/servicehired/icons2/Icon-60@2x.png" sizes="120x120" />
    <link rel="apple-touch-icon" href="/sites/all/themes/servicehired/icons2/Icon-76@2x.png" sizes="152x152" />
    <link rel="apple-touch-icon" href="/sites/all/themes/servicehired/icons2/Icon-60@3x.png" sizes="180x180" />
    <link rel="apple-touch-icon-precomposed" href="/sites/all/themes/servicehired/icons2/Icon-72.png" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" href="/sites/all/themes/servicehired/icons2/Icon-76.png" sizes="76x76" />
    <link rel="apple-touch-icon-precomposed" href="/sites/all/themes/servicehired/icons2/Icon-60@2x.png" sizes="120x120" />
    <link rel="apple-touch-icon-precomposed" href="/sites/all/themes/servicehired/icons2/Icon-72@2x.png" sizes="144x144" />
    <link rel="apple-touch-icon-precomposed" href="/sites/all/themes/servicehired/icons2/Icon-76@2x.png" sizes="152x152" />
    <link rel="apple-touch-icon-precomposed" href="/sites/all/themes/servicehired/icons2/Icon-60@3x.png" sizes="180x180" />

    <link rel="stylesheet" type="text/css" href="/slim3/js-css/before-fold.css">
    <link rel="stylesheet" type="text/css" href="/slim3/js-css/full-fold.css"/>

    {% block head %}{% endblock %}

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107186115-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-107186115-1');
    </script>

</head>
<body>

{% if category_name is defined %}
<div class="searchterm hidden">{{ category_name }}</div>
{% endif %}

<div class="overthefold{% if category_name is defined %} searched{% endif %}">

    {% include 'common/topbar.html' %}

    <h1>{{ block('title') }}</h1>

    {% block overthefold %}{% endblock %}

    {% include 'common/menu.html' %}

    {% include 'common/bottom-menu.html' %}

</div>

{% block after_the_fold %}{% endblock %}

{% include 'common/footer.html' %}

<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Rubik:300,400,500,700']
    }
  });
</script>

{% block js_footer %}{% endblock %}

</body>
</html>
