{% extends "layout.html" %}

{% block title %}Find the best {{ category_name }} in {{ city_name }} - {{ country_name }}{% endblock %}

{% block description %}Find the best {{ category_name }} of {{ city_name }} - {{ country_name }} with ServiceHired.
Simple as that. ServiceHired makes booking services online simple.{% endblock %}

{% block keywords %}ServiceHired,{{ country_name }},{{ city_name }}{% endblock %}

{% block head %}

<script src="https://js.stripe.com/v3/"></script>

{% endblock %}

{% block overthefold %}

<div class="two-boxes">
    <div class="box-search box-left" id="aa-input-container">
        <input type="search" id="search-box" class="aa-input-search" placeholder="What service?" name="search" autocomplete="off" value="{{ category_name }}" />
        <svg class="aa-input-icon" viewBox="654 -372 1664 1664">
            <path d="M1806,332c0-123.3-43.8-228.8-131.5-316.5C1586.8-72.2,1481.3-116,1358-116s-228.8,43.8-316.5,131.5  C953.8,103.2,910,208.7,910,332s43.8,228.8,131.5,316.5C1129.2,736.2,1234.7,780,1358,780s228.8-43.8,316.5-131.5  C1762.2,560.8,1806,455.3,1806,332z M2318,1164c0,34.7-12.7,64.7-38,90s-55.3,38-90,38c-36,0-66-12.7-90-38l-343-342  c-119.3,82.7-252.3,124-399,124c-95.3,0-186.5-18.5-273.5-55.5s-162-87-225-150s-113-138-150-225S654,427.3,654,332  s18.5-186.5,55.5-273.5s87-162,150-225s138-113,225-150S1262.7-372,1358-372s186.5,18.5,273.5,55.5s162,87,225,150s113,138,150,225  S2062,236.7,2062,332c0,146.7-41.3,279.7-124,399l343,343C2305.7,1098.7,2318,1128.7,2318,1164z" />
        </svg>
    </div>

    <div class="box-search box-right" id="google-input-container">
        <input type="search" id="google-search-input" class="google-input-search" placeholder="Where are you?" value="{{ city_name }}, {{ country_name }}" />
        <svg class="aa-input-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 14 20">
            <path d="M7 0C3.13 0 0 3.13 0 7c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5C5.62 9.5 4.5 8.38 4.5 7S5.62 4.5 7 4.5 9.5 5.62 9.5 7 8.38 9.5 7 9.5z"></path>
        </svg>
    </div>
    <div class="search-buttons hidden">
        <div class="btn">Search now</div>
    </div>
    <div class="options"><div class="filter">Show me results: <div class="selected">Near Me</div></div> <div class="filter">Show me results: <div class="selected">Near Me</div></div><div class="filter">Show me results: <div class="selected">Near Me</div></div></div>

</div>
<div class="siteintro row">
    <div class="maxwidth">
        <div class="col-md-4">
            <img src="/sites/all/themes/servicehired/images/003-price-tag.png">
            <h4>Services With Clear Prices</h4>Compare thousands of services with clear pricing. Instead of calling, waiting for a price, you get your price and availability immediately. Welcome to the future of booking services.</div>
        <div class="col-md-4">
            <img src="/sites/all/themes/servicehired/images/002-bolt.png">
            <h4>Instant Bookings</h4>Instead of going back and forth with a business, you can do instant bookings on the time of your choosing. Your service provider has simple availability that you can check.</div>
        <div class="col-md-4">
            <img src="/sites/all/themes/servicehired/images/001-winner.png">
            <h4>Guaranteed Results</h4>We hold your payment in escrow until the supplier has done their job. That makes sure that you get the job done properly before releasing payment. No more work half-done.</div>
    </div>
</div>

{% endblock %}

{% block after_the_fold %}

<div class="facets">
    <div class="internal hidden">
        <h3>Price range</h3>
        <div id="pricerange" class="pricerange"></div>
        <div id="pipssteps">
        </div>
    </div>
</div>
<div class="marketing row">
    <div class="breadcrumb"><ul>
        <li class="done searchbread">Search </li>
        <li class="future servicebread">Choose a service</li>
        <li class="future checkoutbread hidden">Add details to continue</li>
    </ul></div>
    <div class="types row">
        <ul id="searchinsides" class="">
        </ul>
        <form id="stripeform" action="/developers/new_user" method="post" class="stripeform hidden">
            <h2>Add your details to continue </h2>
            <p> Making a booking does not tie you to anything. We just send your quote to the supplier, and you will get a full refund if they are not able to confirm your timing. </p>
            <h4> Your details</h4>
            <label>
                <span>First Name</span>
                <input name="cardholder-first-name" class="field" placeholder="Jane">
            </label>
            <label>
                <span>Last Name</span>
                <input name="cardholder-last-name" class="field" placeholder="Doe">
            </label>
            <label>
                <span>Phone</span>
                <input name="cardholder-phone" class="field" placeholder="09853398021">
            </label>
            <label>
                <span>Email</span>
                <input name="cardholder-email" class="field" placeholder="Jane Doe">
            </label>
            <h4> Billing details</h4>
            <label>
                <span>Phone</span>
                <input class="field" placeholder="(123) 456-7890" type="tel">
            </label>
            <label>
                <span>ZIP code</span>
                <input name="address-zip" class="field" placeholder="94110">
            </label>
            <label class="hidden">
                <span>Token</span>
                <input class="token" name="token" placeholder="94110">
            </label>
            <label class="hidden">
                <span>Package</span>
                <input class="package" name="package" placeholder="94110">
            </label>
            <label>
                <span>Card</span>
                <div id="card-element" class="field"></div>
            </label>
            <button type="submit">Make a booking request</button>
            <div class="text-center small">
                You wont be charged yet.
            </div>
            <div class="outcome">
                <div class="error" role="alert"></div>
                <div class="success">
                    Success! Your Stripe token is <span class="token"></span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="gray searchedhide">
    <div class="marketing row ">
        <div class="suppliers row">
            <div class="col-md-4 in_and_around other">
                <h3>Find the best {{ category_name }} of {{ city_name }} - {{ country_name }}</h3>
                <p class="p">We help you find the best {{ category_name }} and and instantly book the, service you are after. No more back-and-forth with the suppliers that you dread. It often takes weeks for them to come back to you with a quote.</p>
                <p class="p">Browse our database of thousands of business with tens of thousands of service products, and start booking.</p>
            </div>
            <div class="col-md-4 in_and_around other">
                <h3>What Services can I find?</h3>
                <p class="p">From ServiceHired.com you can find a long range of services from Photographers to Caterers to Plumbers and anything in between. To browse our services, just start typing in our search form.</p>
                <p class="p">We are not restricting any service out of the system. The only rule is that we generally don't approve physical products that require shipping.</p>
            </div><div class="col-md-4 in_and_around other">
            <h3>Complete Toolkit for Service Businesses</h3>
            <p class="p">We have built a toolkit that allows you to easily productise the service you sell. This allows you to create a product for each offering, and sell it simply as a instantly bookable package.</p>
            <p class="p">There is a new form of customer looking for service products like this. We've seen this wont affect your existing business, but only bring more customers.</p>
        </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block js_footer %}

<noscript id="deferred-styles">
</noscript>

<script>
  var loadDeferredStyles = function() {
    var addStylesNode = document.getElementById("deferred-styles");
    var replacement = document.createElement("div");
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement)
    addStylesNode.parentElement.removeChild(addStylesNode);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
    webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
  else window.addEventListener('load', loadDeferredStyles);
</script>

<!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/g/instantsearch.js@1.10.3(instantsearch.min.css),jquery.ui@1.11.4(jquery-ui.min.css),bootstrap.select@1.12.2(css/bootstrap-select.min.css),cookieconsent3@3.0.4(cookieconsent.min.css)">
<script src="https://cdn.jsdelivr.net/g/algoliasearch@3.22.1,algoliasearch.helper@2.20.1,hogan.js@3.0.2(hogan.min.common.js),js-cookie@2.2.0,cookieconsent3@3.0.4"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD-tXblrfyR3thTR8DGuM3NreZ9qGLtT8&libraries=places"></script>
<script src="/sites/all/libraries/noui/nouislider.min.js"></script>
<link rel="stylesheet" href="/sites/all/libraries/noui/nouislider.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js"></script>
<script src="/slim3/js-css/scripts.js"></script>

{% endblock %}
