{% extends "layout.html" %}
{% block head %}
  <link rel="stylesheet" type-="text/css" href="/slim3/theme-slim/dist/css/styles-lib.css">
  <link rel="stylesheet" type-="text/css" href="/slim3/theme-slim/dist/css/styles.css">
{% endblock %}

{% block title %}{{ country_name }} - ServiceHired{% endblock %}

{% block description %}Find, compare and book local services from {{ country_name }} with ServiceHired.
Simple as that. ServiceHired makes booking services online simple.{% endblock %}

{% block keywords %}ServiceHired,{{ country_name }}{% endblock %}

{% block overthefold %}

{{ country_name }}

<ul class="tile-wrapper tile-wrapper--city">
  {% for city, name in cities %}
  <li class="tile tile--city">
    <h2 class="tile__title tile__title--city">
      <a class="tile__link tile__link--city" href="{{ path_for('city', { 'country': country, 'city': city }) }}">{{ name }}</a>
    </h2>
  </li>
  {% endfor %}
</ul>

{% endblock %}
