.tiles {
  margin-right: -1rem;
  margin-left: -1rem;

  @media screen and (min-width: $mobile-landscape-narrow) {
    display: flex;
    flex-wrap: wrap;
  }
}

.tile-wrapper {
  margin-bottom: 2.5rem;
  padding: 0 1rem;

  @media screen and (min-width: $mobile-landscape-narrow) {
    flex: 0 0 50%;
  }

  @media screen and (min-width: $tablet-portrait) {
    flex-basis: 33.333333%;
  }

  @media screen and (min-width: $desktop-narrow) {
    flex-basis: 25%;
  }

  @media screen and (min-width: 68.75em) {
    flex-basis: 20%;
  }
}

.tile-wrapper__letter {
  border-bottom: 1px solid $default-contrast-color;
  margin-bottom: .5rem;
  color: $default-contrast-color;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.tile-group {
  // margin-right: -.25rem;
  // margin-left: -.25rem;
  padding: 0;
  list-style: none;
  text-align: left;

  // @media screen and (min-width: $mobile-landscape-narrow) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   // justify-content: space-between;
  // }
}

// .tile {
//   padding: 0 .25rem;

//   @media screen and (min-width: $mobile-landscape-narrow) {
//     flex: 0 0 50%;
//   }

//   @media screen and (min-width: $tablet-portrait) {
//     flex-basis: 33.333333%;
//   }

//   @media screen and (min-width: $desktop-narrow) {
//     flex-basis: 25%;
//   }

//   @media screen and (min-width: 68.75em) {
//     flex-basis: 20%;
//   }
// }

.tile__title {
  margin-bottom: 0;
  font-size: $base-font-size-rem;

  a {
    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
}
