label {
  position: relative;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  display: block;
}

label > span {
  float: left;
}

.field {
  background: white;
  box-sizing: border-box;
  font-weight: 400;
  border: 1px solid #CFD7DF;
  color: #32315E;
  outline: none;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  cursor: text;
  width: 76%;
  float: right;
}

.field::-webkit-input-placeholder {
  color: #CFD7DF;
}

.field::-moz-placeholder {
  color: #CFD7DF;
}

.field:-ms-input-placeholder {
  color: #CFD7DF;
}

.field:focus, .field.StripeElement--focus {
  border-color: #F99A52;
}

.breadcrumb ul {
  padding: 0;
}

.breadcrumb {
  padding: 0;
  margin: 0 15px;
}

li.done.active {
  background: #fdb834;
}

.breadcrumb ul li {
  list-style: none;
  display: inline-block;
  padding-right: 20px;
  border: 1px solid;
  padding: 8px;
  border-radius: -4 40px 41px 0;
  font-size: 0.9em;
}

button {
  float: left;
  display: block;
  color: white;
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  height: 48px;
  line-height: 48px;
  outline: none;
  background-color: #F34D10;
  margin-bottom: 15px;
}

.text-center.small {
  margin-top: 20px;
  display: block;
  clear: both;
}

.text-center {
  text-align: center;
}

.small {
  font-size: 0.8em;
}

button:focus {
  background: #EF8C41;
}

button:active {
  background: #E17422;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

.success {
  color: #F8B563;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}

