body {
  min-height: 100vh;
}

.page {
  @media screen and (min-width: $tablet-portrait) {
    min-height: 85vh;
    padding-top: 15vh
  }
}

.container {
  @include responsive-whitespace;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}

.page-breadcrumb {
  padding: 2rem 0;
}

.page-main {
  padding: 3rem 0;
}

.page-breadcrumb {
  + .page-main {
    padding-top: 1rem;
  }
}
